.btn {
    border: none;
    border-radius: 0;
    padding: 8px 16px;
    background-color: var(--clr-primary);
    color: var(--clr-fg);
    font-size: var(--font-size);
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: text-shadow 200ms, box-shadow 200ms, transform 200ms,
        opacity 200ms;

    &.btn--alternate {
        background-color: transparent;
        border: var(--clr-primary) solid 1px;
    }

    &:hover {
        text-shadow: 0 0 4px #000000, 4px 3px 2px #000000;
        box-shadow: 4px 3px 4px 0px;
        transform: scale(1.05);
    }

    &:focus,
    &:active {
        outline: none;
        text-shadow: 0 0 4px #000000, 4px 3px 2px #000000;
    }
}

.btnGroup {
    display: flex;
    gap: 8px;

    &.btnGroup--horz {
        flex-direction: column;
    }
}
