.player {
    --left-item-width: 80px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.playerBtn {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 4px 8px;
    width: var(--left-item-width);

    &.playBtn {
        opacity: 0.5;

        &.playing {
            opacity: 1;
        }
    }

    &.removeBtn {
        font-size: 14px;
        letter-spacing: 2px;
    }
}

.playerValues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 4px;
}

.audio {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--left-item-width);

    & .audioName {
        display: block;
        font-size: 12px;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    & .audioInput {
        display: none;
    }
}

.loading {
    animation: loadingFade 500ms ease-in-out infinite alternate;
}

@keyframes loadingFade {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
